@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Ruda:wght@400;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url("https://media1.giphy.com/media/ZOTH39U1aT8K9VCoao/200w.gif?cid=6c09b952d5iubkegl8fcneikx0qtfu3ygmlbk0mua2w49g5d&ep=v1_gifs_search&rid=200w.gif&ct=g");
  background-size: cover;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  max-width: 800px;
  width: 90%;
  background-color: rgba(4, 32, 32, 0.3);
  color: #fff;
  border-radius: 25px;
  box-shadow: 0 15px 15px rgba(0, 0, 0, 0.26);
  margin: 1rem;
  overflow: hidden;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
}

.img_section {
  border-radius: 25px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.img_section::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(135deg, rgba(42, 62, 70, 0.33) 10%, rgba(41, 64, 78, 0.26) 100%);
  z-index: -1;
  border-radius: 25px;
}

.default_info {
  padding: 1.5rem;
  text-align: center;
}

.default_info img {
  width: 80%;
  max-width: 150px;
}

.default_info h2 {
  font-size: 2.5rem;
  margin: 0.5rem 0;
}

.default_info h3 {
  font-size: 1.3rem;
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

.weather_temp {
  font-size: 4rem;
  font-weight: 800;
}

.content_section {
  padding: 1.5rem;
}

.content_section form {
  display: flex;
  align-items: center;
  margin: 1.5rem 0;
}

.content_section form input {
  flex: 1;
  outline: none;
  background: transparent;
  border: 1px solid #b1dcf1;
  border-radius: 5px;
  padding: 0.7rem 1rem;
  color: #0c0c0b;
  font-size: 1.5rem;
}

.content_section form button {
  padding: 0.7rem 1rem;
  background: #0c0c0c;
  color: #fff;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  margin-left: 0.5rem;
}

.day_info .content {
  display: flex;
  justify-content: space-between;
  padding: 0.4rem 0;
}

.list_content ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style-type: none;
  margin: 2rem 0;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  padding: 0;
}

.list_content ul li {
  flex: 1 1 45%;
  margin: 1rem;
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  transition: all 0.1s ease-in;
  background-color: #6cdfdf;
}

.list_content ul li:hover {
  transform: scale(1.1);
  background-color: #4caeae;
  color: #0e1111;
  cursor: pointer;
}

.list_content ul li img {
  width: 60%;
  max-width: 50px;
  margin-bottom: 0.5rem;
}

/* FadeIn Animation */
.icons.fadeIn {
  animation: 0.5s fadeIn forwards;
  animation-delay: 0.7s;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

/* Responsive Layouts */
@media (min-width: 768px) {
  .container {
    max-width: 90%;
  }

  .wrapper {
    grid-template-columns: 1fr 1fr;
  }

  .default_info h2 {
    font-size: 3rem;
  }

  .content_section form input {
    font-size: 1.3rem;
  }
}

@media (min-width: 1024px) {
  .container {
    max-width: 1000px;
  }

  .wrapper {
    grid-template-columns: 3fr 5fr;
  }

  .default_info h2 {
    font-size: 3.5rem;
  }

  .content_section form input {
    font-size: 1.4rem;
  }

  .list_content ul li img {
    width: 80%;
  }
}
